# Trabalhando os dados para reconstruir a série temporal das amostras

## Carregando o dataset

In [2]:
import pandas as pd
import numpy as np
import datetime

In [3]:
ds = pd.read_csv('dataset/train.csv', header=0)
print(ds.shape)
ds.head(5)

/tmp/ipykernel_5973/1990298691.py:1: DtypeWarning: Columns (435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506) have mixed types. Specify dtype option on import or set low_memory=False.
  ds = pd.read_csv('dataset/train.csv', header=0)

(177024, 508)

,id,p_num,time,bg-5:55,bg-5:50,bg-5:45,bg-5:40,bg-5:35,bg-5:30,bg-5:25,...,activity-0:40,activity-0:35,activity-0:30,activity-0:25,activity-0:20,activity-0:15,activity-0:10,activity-0:05,activity-0:00,bg+1:00
0,p01_0,p01,06:10:00,NaN,NaN,9.6,NaN,NaN,9.7,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.4
1,p01_1,p01,06:25:00,NaN,NaN,9.7,NaN,NaN,9.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.8
2,p01_2,p01,06:40:00,NaN,NaN,9.2,NaN,NaN,8.7,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.5
3,p01_3,p01,06:55:00,NaN,NaN,8.7,NaN,NaN,8.4,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.8
4,p01_4,p01,07:10:00,NaN,NaN,8.4,NaN,NaN,8.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.7

In [6]:
new_ds = ds[ds["p_num"]=="p01"]
new_ds.sort_values(by=['p_num', 'time'], ascending=[True, True])

,id,p_num,time,bg-5:55,bg-5:50,bg-5:45,bg-5:40,bg-5:35,bg-5:30,bg-5:25,...,activity-0:40,activity-0:35,activity-0:30,activity-0:25,activity-0:20,activity-0:15,activity-0:10,activity-0:05,activity-0:00,bg+1:00
335,p01_335,p01,00:00:00,NaN,3.9,NaN,NaN,4.9,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.3
994,p01_994,p01,00:00:00,NaN,9.0,NaN,NaN,NaN,9.7,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.1
1554,p01_1554,p01,00:00:00,NaN,10.3,NaN,NaN,10.2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.2
1649,p01_1649,p01,00:00:00,NaN,8.2,NaN,NaN,7.6,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.3
2101,p01_2101,p01,00:00:00,NaN,8.0,NaN,NaN,9.5,NaN,NaN,...,Walk,Walk,Walk,Walk,Walk,Walk,Walk,Walk,NaN,5.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5343,p01_5343,p01,23:55:00,NaN,NaN,11.7,NaN,NaN,11.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.8
5630,p01_5630,p01,23:55:00,NaN,NaN,5.2,NaN,NaN,5.4,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.3
5917,p01_5917,p01,23:55:00,NaN,NaN,6.1,NaN,NaN,3.7,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.9
6204,p01_6204,p01,23:55:00,NaN,NaN,15.6,NaN,NaN,13.3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.5
6491,p01_6491,p01,23:55:00,NaN,NaN,10.0,NaN,NaN,8.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.7

## Recuperando estatísticas básicas

In [3]:
dados_filtrados = ds.filter(['bg-0:00', 'insulin-0:00', 'carbs-0:00', 'hr-0:00', 'steps-0:00', 'cals-0:00', 'bg+1:00'])
estatisticas = dados_filtrados.describe()
estatisticas

,bg-0:00,insulin-0:00,carbs-0:00,hr-0:00,steps-0:00,cals-0:00,bg+1:00
count,174328.000000,167649.000000,2583.000000,125890.000000,81940.000000,141767.000000,177024.000000
mean,8.277378,0.204064,48.018970,79.335216,53.052685,9.368960,8.277045
std,2.990266,1.020281,39.193071,18.041560,107.632076,8.023327,2.996398
min,2.200000,-0.307800,1.000000,39.000000,0.000000,0.030000,2.200000
25%,6.100000,0.041700,24.000000,64.800000,0.000000,5.600000,6.100000
50%,7.700000,0.075000,40.000000,77.500000,8.000000,6.180000,7.700000
75%,9.900000,0.108300,65.000000,90.000000,56.000000,9.060000,9.900000
max,27.800000,46.311000,852.000000,185.300000,1359.000000,116.100000,27.800000

In [4]:
# ds['time'] = pd.to_datetime(ds['time']).dt.time
print('Menor valor de hora registrado:', ds['time'].min())
ds.filter(['time']).describe()

Menor valor de hora registrado: 00:00:00

            time
count     177024
unique       288
top     11:55:00
freq         640

## Criando um novo dataset para a série temporal

In [5]:
ds_cron = pd.DataFrame()

# Iterando as amostras, e alocando no novo dataset

In [6]:
time_tags = ['0:00', '0:05', '0:10', '0:15', '0:20', '0:25', '0:30', '0:35', '0:40', '0:45', '0:50', '0:55', '1:00', '1:05', '1:10', '1:15', '1:20', '1:25', '1:30', '1:35', '1:40', '1:45', '1:50', '1:55', '2:00', '2:05', '2:10', '2:15', '2:20', '2:25', '2:30', '2:35', '2:40', '2:45', '2:50', '2:55', '3:00', '3:05', '3:10', '3:15', '3:20', '3:25', '3:30', '3:35', '3:40', '3:45', '3:50', '3:55', '4:00', '4:05', '4:10', '4:15', '4:20', '4:25', '4:30', '4:35', '4:40', '4:45', '4:50', '4:55', '5:00', '5:05', '5:10', '5:15', '5:20', '5:25', '5:30', '5:35', '5:40', '5:45', '5:50']

for index, row in ds.iterrows():
    if index > 10:
        break
    ## Testando pelas colunas 'bg-X:XX'
    # for i in range(len(time_tags)):
    for i in range(2):
        time_tag = time_tags[i]
        interval_minutos = i * 5

        hora_row = datetime.strptime(row['time'], "%H:%M:%S").time()
        hora_amostra = 

        # cron_row = ds_cron[(ds_cron['p_num'] == row['p_num']) & (ds_cron['time'] == row['time'])]

        # if cron_row.empty:
        #     ds_cron.loc[len(ds_cron)] = [row['p_num'], row['time'], row['bg-0:00']]
        # elif cron_row["bg"] != row['bg-0:00']:
        #     desvio_atual = abs(cron_row['bg'] - estatisticas['bg-0:00']['mean'])
        #     desvio_novo = abs(row['bg-0:00'] - estatisticas['bg-0:00']['mean'])
        #     if desvio_novo < desvio_atual:
        #         mnum_linha = cron_row.index[0]
        #         ds_cron.at[2, 'bg'] = row['bg-0:00']

TypeError: 'str' object cannot be interpreted as an integer